.SignUp {
  display: flex;
  flex-direction: column;
}

.SignUp > h1 {
  margin: 8% auto 2% !important;
  /* margin-top: 10% !important; */
}

.SignUp > form {
  margin: auto;
  width: 30%;
}

.NameField {
  display: inline-block;
  width: 49%;
}

#fname {
  margin-right: 2% !important;
}

.SignUp > .authIcon {
  margin: auto;
  font-size: 10em;
  margin-top: 10%;
  color: #00b5ad;
  margin-bottom: -2%;
}

.icon + .authPara {
  margin: auto;
  font-size: 1.5em;
  font-weight: 100;
  font-family: lato;
}
