.stage {
  height: 50vh;
  width: 18vw;
  border-left: 1px solid #ece9f2;

  padding: 1% 1%;
}

.stageHead {
  text-align: center;
}

.stage > .button {
  margin: 2.75% 0;
}

.stageName {
  margin: 0;
}

.stageNoItems {
  color: rgba(25, 4, 69, 0.4);
  font-size: 14px;
}
